.my-gallery {
  column-count: 4;
  background-color: green;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  width: 100%;
  margin: 0;
}
.my-gallery figcaption {
  display: none;
}